{{#modal-dialog action="closeModal"}}
  <h3>What is it?</h3>
  <p>
    This site allows you to easily and securely share files directly between devices without having to upload them to any server first.
  </p>

  <h3>How to use it?</h3>
  <h4>Sharing files between devices in local network<sup>*</sup></h4>
  <p>
    To send a file to another device in the same local network, open this page (i.e. <a href="https://p2p.tristank.de">p2p.tristank.de</a>) on both devices. Drag and drop a file directly on other person's avatar or click the avatar and select the file you want to send. The file transfer will start once the recipient accepts the file.
  </p>

  <h4>Sharing files between devices in different networks</h4>
  <p>
    To send a file to another device in a different network, click <span style="font-weight: bold; font-size: 2rem">+</span> button in the upper right corner of the page and follow futher instructions.
  </p>

  <div class="actions">
    <button {{action "closeModal"}}>Got it!</button>
    <p class="note"><sup>*</sup>Devices need to have the same <a href="https://ip.dblx.io" target="_blank">public IP</a> to see each other.</p>
  </div>
{{/modal-dialog}}
